
<head>
<style>
body {
  margin:24px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color:#2C3E50 ;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}

.topnav a.active {
  background-color: black
  color: white;
}

.topnav-right {
  float: right;
}


.bor {
  border-left: 25px solid #2C3E50 ;
  border-right: 25px solid #2C3E50 ;
  
  background-color: #D5D8DC ;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 50px;
  padding-left: 10px;
}

@media screen and(max-width:800px)
{
 .leftcolumn, .rightcolumn
  {
   width:100%;
   padding :0;
  }
}

@media screen and(max-width:400px)
{
 .topnav a
  {
   float:none;
   width:100%;
  }
}

h3 {
  text-shadow: 2px 2px 5px #566573 ;
font-size:25;}


p { font-family:Comic Sans MS;
font-size:25;
}



h{  text-shadow: 2px 2px 5px #566573 ;
font-size:30;
text-align: center;}

h3{  
text-shadow: 2px 2px 5px #566573 ;
font-size:30;
text-align: center;}



img{
padding-right:10%;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.borcar {
  padding-top: 50px;
  padding-right: 70px;
  padding-bottom: 50px;
  padding-left: 80px;
}

a{
text:decoration:none;
}

</style>
</head>
